<section id="approvaltypeHeaderList-section" class="fgta5-carousell" data-title="Approval Type">
<%- include(`${moduleDir}/approvaltypeHeaderList.html`) %>
</section>

<section id="approvaltypeHeaderEdit-section" class="fgta5-carousell" data-title="Edit Approval Type">
<%- include(`${moduleDir}/approvaltypeHeaderEdit.html`) %>
</section>

<section id="approvaltypeRoleList-section" class="fgta5-carousell" data-title="List Role">
<%- include(`${moduleDir}/approvaltypeRoleList.html`) %>
</section>

<section id="approvaltypeRoleEdit-section" class="fgta5-carousell" data-title="Edit Role">
<%- include(`${moduleDir}/approvaltypeRoleEdit.html`) %>
</section>



<section id="fRecord-section" class="fgta5-carousell" data-title="Record Status">

	<div name="panel">
		<div name="row">
			<span name="caption">Id</span>
			<span name="value" id="fRecord-section-id">-</span>
		</div>
	</div>	


	<div name="panel">
		<!-- LEFT: Standard Info -->
		<div name="column">
			<div name="row">
				<span name="caption">Create By</span>
				<span name="value" id="fRecord-section-createby">-</span>
			</div>
			<div name="row">
				<span name="caption">Create Date</span>
				<span name="value" id="fRecord-section-createdate">-</span>
			</div>
			<div name="row">
				<span name="caption">Modify By</span>
				<span name="value" id="fRecord-section-modifyby">-</span>
			</div>
			<div name="row">
				<span name="caption">Modify Date</span>
				<span name="value"id="fRecord-section-modifydate">-</span>
			</div>

		</div>


		<!-- RIGHT: Extended Info -->
		<div name="column" exteder>
		<%- include(`${moduleDir}/approvaltype-ext-record.html`) %>	
		</div> 

	</div>	
</section>

<section id="fLogs-section" class="fgta5-carousell" data-title="Logs">
<%- include(`${moduleDir}/approvaltype-logs.html`) %>	
</section>

<section id="fAbout-section" class="fgta5-carousell" data-title="About">
<%- include(`${moduleDir}/approvaltype-ext-about.html`) %>	
</section>


